:root {
  --text-color-blue: #2196f3;
  --text-color-gray: #757575;
  --text-color-black: #212121;
  --text-color-white: #ffffff;
  --background-color-darkgray: #2f303a;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--text-color-black);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--text-color-blue);
}
.nav .link,
.contacts .link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav .active {
  color: var(--text-color-blue);
}
.nav .link:hover,
.nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--text-color-blue);
}
.contacts .link {
  color: var(--text-color-gray);
}
.hero {
  background-color: var(--background-color-darkgray);
  color: var(--text-color-white);
}
.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  background-color: var(--text-color-blue);
  color: var(--text-color-white);
}
.hero .btn:hover,
.hero .btn:focus {
  background-color: #188ce8;
}

.features-list-item .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list-item .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-gray);
}
.we-doing > .title,
.team > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
}
.team-list-item {
  background-color: #ffffff;
}
.team-list-item .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list-item .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-gray);
}
.footer {
  background-color: var(--background-color-darkgray);
}
.footer .logo {
  color: var(--text-color-white);
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
}
